div{
    color: darkcyan;
    font-size: 70px;
    font-weight: bolder;
}
body{
    background-color:silver;
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.pergunta{
    color:green;
}