div{
    color: darkcyan;
    font-size: 70px;
    font-weight: bolder;
}
.pergunta{
    color: cornflowerblue;
    font-size: 80 px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color:silver;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.resposta{
    color:green;
    font-size: 50px;
}