/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \*****************************************************************************/
div{
    color: darkcyan;
    font-size: 70px;
    font-weight: bolder;
}
body{
    background-color:silver;
}
.pergunta{
    color:green;
}
