/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \*****************************************************************************/
div{
    color: darkcyan;
    font-size: 70px;
}
body{
    background-color:seagreen;
}
.pergunta{
    color:orange;
}
