/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/estilo.css ***!
  \********************************************************************************************************************/
div {
  color: darkcyan;
  font-size: 70px;
  font-weight: bolder; }

.pergunta {
  color: cornflowerblue;
  font-size: 80 px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

body {
  background-color: silver;
  background-image: url(2cd2da618ab588492e9b.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.resposta {
  color: green;
  font-size: 50px; }

/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/scss/index.scss ***!
  \*********************************************************************************************************************/
.botao {
  background-color: #19b3E6;
  color: #fff;
  font-size: 1.8em; }

